<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar">
        <h2 class="logo">🌿 SAFFRON & SAGE</h2>

        {% set current_path = request.path %}
        <div class="navlinks">
            <a href="/" class="{{ 'current' if current_path == '/' else '' }}">Home</a>
            <a href="/menu" class="{{ 'current' if current_path == '/menu' else '' }}">Menu</a>
            <a href="/reservations" class="{{ 'current' if current_path == '/reservations' else '' }}">Reservations</a>
            <a href="/about" class="{{ 'current' if current_path == '/about' else '' }}">About</a>
            <a href="/contact" class="{{ 'current' if current_path == '/contact' else '' }}">Contact Us</a>

            {% if session.id %}
                <a href="/dashboard" class="{{ 'current' if current_path == '/dashboard' else '' }}">Dashboard</a>
                <a href="/logout">Log Out</a>
            {% endif %}
        </div>

        {% if session.id %}
            <span class="user-info">Welcome, {{ session.fullname }} ({{ session.role }})</span>
        
        {% else %}
            <a href="/login" class="login">Log In</a>

            <a href="/signup" class="btn">Sign up</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
        <h2 class="footer-logo">🌿 SAFFRON & SAGE</h2>
        <div class="footer-right">
            <div class="footer-links">
                <div>
                    <a href="/" class="{{ 'current' if current_path == '/' else '' }}">Home</a>
                    <a href="/menu" class="{{ 'current' if current_path == '/menu' else '' }}">Menu</a>
                </div>
                <div>
                    <a href="/about" class="{{ 'current' if current_path == '/about' else '' }}">About</a>
                    <a href="/contact" class="{{ 'current' if current_path == '/contact' else '' }}">Contact Us</a>
                </div>
            </div>

            <div class="footer-contact-info">
                <p>📍 12 High St</p>
                <p>📞 020 1234</p>
            </div>
        </div>
    </footer>
</body>

</html>