{% extends "base.html" %}

{% block content %}

<div class="contact-content">
    <div class="contact-left">
        <h2>Send a Message</h2>

        {% if contactMessage %}

        <p style="color: green; text-align: center;">{{contactMessage}}</p>

        {% endif %}

        <form class="contact-form" method="POST" action="/contactus">
            <div class="contact-form-group">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="John Ross" name="name" required>
            </div>

            <div class="contact-form-group">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="johnross123@email.com" name="email" required>
            </div>

            <div class="contact-form-group">
                <label for="message">Message</label>
                <textarea id="message" maxlength="300" placeholder="Your message..." name="message" required></textarea>
            </div>

            <div>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>

    <div class="contact-right">
        <h2>Find Us</h2>

        <div>
            <h1 class="icon">🗺️</h1>
        </div>

        <div>
            <p>📍 12 High Street, London</p>
            <p>📞 020 1234 5678</p>
            <p>✉️ hello@saffron.com</p>
            <p>🕑 Tue-Sun, 5pm-11pm</p>
        </div>
    </div>
</div>

{% endblock %}