<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffron & Sage - Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% extends "base.html" %}

    {% block content %}

    <div class="dashboard-page">

        <div class="dashboard">

            <section class="dashboard-top">
                <h3>🌿Welcome, {{ session['fullname'] }}</h3>
                <p>Role: {{ session['role'] }}</p>
            </section>

            <section class="dashboard-content">
                <p>This is your dashboard. You can manage your account and view your activities here.</p>
            </section>

        </div>
    </div>

    {% endblock %}

</body>

</html>