{% extends "base.html" %}

{% block content %}

<div class="login-page">

    <div class="autho">

        <section class="login-top">
            <h3>🌿Welcome back</h3>
            <p>Log in to your account</p>
        </section>



        <section class="login-content">

            <form class="login-form" method="POST" action="/login">
                <div class="login-form-group">
                    <label for="email">Email <span class="asterisk">*</span></label>
                    <input id="email" type="email" placeholder="johnross123@email.com" name="email" required>
                </div>

                <div class="login-form-group">
                    <label for="password">Password <span class="asterisk">*</span></label>
                    <input id="password" type="password" placeholder="******" name="password" required>
                </div>

                <div>
                    <button type="submit">Log in</button>
                </div>

                <p class="signup-link">New here? <a href="/signup">Create an account</a></p>
            </form>
        </section>

    </div>

</div>

{% endblock %}