{% extends "base.html" %}

{% block content %}

<section class="menu">
    <div class="menu-top">
        <h3>OUR KITCHEN</h3>
        <h2>Full Menu</h2>
    </div>

    <table class="menu-table">
        <thead>
            <tr>
                <th>DISH</th>
                <th>PRICE</th>
            </tr>
        </thead>

        <tbody>
            {% for dish in dishes %}
            <tr class="even dish">
                <td><span class="dish-name">{{ dish['dishname'] }}</span><br>
                    <span class="ingredients">{{ dish['seller'] }}</span></td>
                <td class="price">&pound;{{ "%.2f"|format(dish['dishprice']) }}</td>
            </tr>
            {% else %}
            <tr><td colspan="2">No dishes have been listed yet.</td></tr>
            {% endfor %}
        </tbody>

    </table>

</section>

{% endblock %}