{% extends "base.html" %}

    {% block content %}

    <section class="reservations-section">
        <h1>Reserve a Table</h1>

        {% if reservationsMessage %}

        <p style="color: green; text-align: center;">{{reservationsMessage}}</p>

        {% endif %}

        <form class="reservation-form" method="POST" action="/reservations">
            <div class="formatting">
                <div class="form-group ">
                    <label for="first_name">First name <span class="asterisk">*</span></label>
                    <input id="first_name" type="text" placeholder="John" name="first_name" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Last name <span class="asterisk">*</span></label>
                    <input id="last_name" type="text" placeholder="Ross" name="last_name" required>
                </div>

                <div class="form-group full-width">
                    <label for="email">Email <span class="asterisk">*</span></label>
                    <input id="email" type="email" placeholder="johnross123@email.com" name="email" required>
                </div>

                <div class="form-group">
                    <label for="date">Date <span class="asterisk">*</span></label>
                    <input id="date" type="date" name="date" required>
                </div>

                <div class="form-group">
                    <label for="time">Time <span class="asterisk">*</span></label>
                    <input id="time" type="time" name="time" required>
                </div>

                <div class="form-group">
                    <label for="guests">Guests <span class="asterisk">*</span></label>
                    <input id="guests" type="number" min="1" max="12" placeholder="1-12" name="guests" required>
                </div>

                <div class="form-group">
                    <label for="seating">Seating</label>

                    <select id="seating" name="seating">
                        <option value="indoor">Indoor</option>
                        <option value="outdoor">Outdoor</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label class="special">Occasion</label>

                <div class="radio-group">
                    <label><input type="radio" name="occasion" value="none" checked></label> <span class="radio-button">None</span>
                    <label><input type="radio" name="occasion" value="birthday"></label> <span class="radio-button">Birthday</span>
                    <label><input type="radio" name="occasion" value="anniversary"></label> <span class="radio-button">Anniversary</span>
                </div>
            </div>

            <div class="form-group full-width">
                <label for="special_requests">Special Requests</label>
                <textarea id="special_requests" maxlength="300" placeholder="Allergies, high chair..." name="special_requests"></textarea>
            </div>

            <div class="form-group checkbox">
                <input type="checkbox" name="terms" required>
                <label>I agree to the booking terms</label>
            </div>

            <div class="form-group full-width">
                <button type="submit">Confirm Reservation</button>
            </div>
        </form>
    </section>

    {% endblock %}
